.rules {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 8rem;
	height: 2.5rem;
	margin-right: 5rem;
	margin-bottom: 3rem;
	/* padding: 0.5rem 1.5rem; */
	border-radius: 9px;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: x-small;
	font-weight: 700;
	border: 1px solid white;
}

.rules:hover {
	color: var(--Dark-Text);
	background-color: white;
	width: 8.2rem;
	height: 2.7rem;
}

@media (max-width: 1024px) {
	.rules {
		position: relative;
		margin: 0;
	}
}
